@import "./typography.css";
/* * {
  outline: 1px dashed red;
  outline-offset: -1px;
} */

:root {
  --dark-purple: #121f1f;
  --primary: #e6e6fa;
  --secondary: #39b874;
  --dark-secondary: #276b47;
  --tint-secondary: rgba(39, 107, 71, 0.2);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --slow-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  counter-reset: navItem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--primary);
  background-color: var(--dark-purple);
}

body.blur main > * {
  filter: blur(5px) brightness(0.7);
  transition: var(--transition);
}

h1 {
  color: var(--secondary);
}

h2 {
  color: var(--primary);
}

a {
  transition: var(--transition);
}

p > a {
  color: var(--secondary);
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: var(--transition);
}

p > a:hover {
  outline: 0px;
}

p > a:hover::after,
p > a:focus::after,
p > a:active::after {
  width: 100%;
}

p > a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.1em;
  background-color: var(--secondary);
  transition: var(--transition);
  opacity: 0.5;
}

ul {
  list-style: none;
}

ol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ol li {
  counter-increment: navItem;
}

ol li .anchorLink {
  padding: 10px;
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}

ol li .anchorLink:hover {
  transition: var(--transition);
  color: var(--secondary);
}

ol li .anchorLink::before {
  content: "0" counter(navItem) ".";
  color: var(--secondary);
  margin-right: 5px;
  text-align: right;
}

.bold {
  font-family: "Mosk";
}

.mono {
  font-family: monospace;
  color: var(--secondary);
}
@keyframes fade {
  from {
    opacity: 0.01;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
