@import "./typography.css";

:root {
  --dark-purple: #121f1f;
  --primary: #e6e6fa;
  --secondary: #39b874;
  --dark-secondary: #276b47;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--primary);
  background-color: var(--dark-purple);
}

h1 {
  color: cadetblue;
}

h2 {
  color: var(--primary);
}

p > a {
  color: var(--secondary);
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: var(--transition);
}

p > a:hover {
  outline: 0px;
}

p > a:hover::after,
p > a:focus::after,
p > a:active::after {
  width: 100%;
}

p > a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.1em;
  background-color: var(--secondary);
  transition: var(--transition);
  opacity: 0.5;
}

.bold {
  font-family: "Mosk";
}

.mono {
  font-family: monospace;
  color: var(--secondary);
}
